-
  const actionPath = '/auth/login'
  const authToggleLink = '/auth/register'
  const authToggleName = 'Register'
  const authToggleTextClass = 'text-right'
  const buttonName = 'Login'
  const buttonClass = 'btn btn-lg btn-block btn-default'
  
include ./layout.pug
