-
  const type = 'register'
  const actionPath = '/auth/register'
  const authToggleLink = '/'
  const authToggleName = 'Back to login'
  const authToggleTextClass = 'text-left'
  const buttonName = 'Register'
  const buttonClass = 'btn btn-lg btn-block btn-primary'
  
include ./layout.pug

block header-content
  script(src='https://www.google.com/recaptcha/api.js')
