doctype html
html
  head
    title Graduate Project app
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
    block header-content
  body
    block content
    link(rel='stylesheet', href= 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    block moduleScript
    block moduleStyle

